@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;	
}

body {
  margin: 0;
}

/* ----- header ----- */
.header {
  background-color: #f0f0f0;
  background: linear-gradient(to bottom, #f8f8f8, #fff 40%, #fff 80%, #f0f0f0);
  width: 100%;
  height: 32px;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px #888;
  line-height: 32px;
  overflow: hidden;
}

.logo {
  margin: 0 10px;
  padding-left: 38px;
  background-image: url(logo32.png);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 200%;
}

.version {
  margin-right: 20px;
}

.menu {
  margin-left: 20px;
  padding: 2px 0 2px 20px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  font-size: 17px;	
  text-decoration: none;
}
a.menu:hover {
  text-shadow: 0 0 4px #88F;
}

.image-village {
  background-image: url(icon/home.png);
}
.image-player {
  background-image: url(icon/player.png);
}
.image-villager {
  background-image: url(icon/villager.png);
}
.image-item {
  background-image: url(icon/item.png);
}
.image-clock {
  background-image: url(icon/clock.png);
}
.image-info {
  background-image: url(icon/information-balloon.png);
}

.menu-separate {
  width: 30px;
}

/* ----- content ----- */

.content {
  margin-top: 48px;
  padding: 10px;
}
h1 {
  box-shadow: 0 0 4px gray;
  width: 320px;
  border: 1px #eee solid;
  padding: 2px 2px 2px 22px;
  margin: 4px;
  font-weight: bold;
  font-size: 110%;
  background-position: 2px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

h2 {
  border-bottom: 1px #888 solid;
  padding: 2px;
  margin: 10px 10px 0 10px;
  display: inline-block;
}

table {
  background-color: rgba(255,255,255,0.75);
  border: 1px #aaa solid;
  margin: 20px;
		margin-bottom: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  box-shadow: 0 0 2px #888;
}

table td, table th {
  border: 1px #ccc solid;
  padding: 2px 8px;
}

table.connect {
		background-color: transparent;
		border: none;
		box-shadow: none;
		margin: -1px 0 20px 30px;
}

table.connect td, table.connect th {
  padding: 1px 4px;
}

.popgraph {
		display: inline-block;
		height: 0.8em;
		line-height: 0.8em;
		width: 400px;
}

.popgraph_adult {
		display: inline-block;
		height: 100%;
		background-color: #ffcc99;
}

.popgraph_child {
		display: inline-block;
		height: 100%;
		background-color: #ddff99;
}

.profession {
		width: 4px;
}

.profession_0 {
		background-color: #c28659;
}

.profession_1 {
		background-color: white;
}

.profession_2 {
		background-color: #d69ecc;
}

.profession_3 {
		background-color: #666;
}

.profession_4 {
		background-color: #bbb;
}

.profession_5 {
		background-color: green;
}

.uses_max {
		background-color: #fdd;
}

/* ----- item ----- */
.item {
		display: inline-block;
		width: 32px;
		height: 32px;
		padding: 0;
		background-repeat: no-repeat;
		background-size: 32px 32px;
		background-position: left top;
		display: inline-block;
		font-size: 110%;
		font-weight: bold;
		color: white;
		text-align: right;
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
		line-height: 48px;
		image-rendering: optimizeSpeed;
		image-rendering: -moz-crisp-edges;
		-ms-interpolation-mode: nearest-neighbor;
}
.item-enchant {
		background-color: #f9d9f2 ;
}
.arrow {
		display: inline-block;
		min-width: 32px;
		height: 32px;
		margin: 0 2px;
		background-repeat: no-repeat;
		background-position: top center;
		background-image: url('arrow.png');
		font-size: 80%;
		line-height: 48px;
		text-align: center;
}

/* ----- popup ----- */
.popup {
		display: none;
		position: absolute;
		z-index: 100;
		border: 1px solid grey;
		background-color: white;
		padding: 5px;
}